<h1 class="ui big header red aligned center">Sản Phẩm Nổi Bật</h1>
<div class="ui container">
    <div class="ui three column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="assets/images/category/beer.jpg" width="200" height="200">
            </div>
            <div class="content">
              <a class="header">Bia</a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/assets/images/category/wine.jpg"  width="200" height="200">
            </div>
            <div class="content">
              <a class="header">Rượu</a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="assets/images/category/beverages.jpg"  width="200" height="200"YN6GV>
            </div>
            <div class="content">
              <a class="header">Nước Giải Khát</a>
            </div>
          </div>
        </div>
      </div>
</div>