<div class="ui container">

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Chúng tôi cung cấp tất cả các mặt hàng bia rượu và nước giải khát</h3>
        <p>Cửa hàng chúng tôi cung cấp tất cả các loại Bia Tiger, Bia Heineken, Bia Sài Gòn, Nước Ngọt, Nước Giải Khát, Rượu và Thuốc Lá... </p>
        <h3 class="ui header">Chúng tôi đảm bảo mang đến cho các bạn những sản phẩm tốt nhất</h3>
        <p>Hãy cùng tận hưởng những ngày nghỉ sảng khoái, những buổi tiệc vui vẻ bên gia đình và người thân bằng những sản phẩm của cửa hàng chúng tôi.</p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button">Xem Sản Phẩm</a>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>"Đại Lý Bia Chín Cửu mang đến cho tôi những sản phẩm thật chất lượng"</h3>
        <p>Đó là những gì khách hàng luôn nói về chúng tôi</p>
      </div>
      <div class="column">
        <h3>"Nhân viên nhiệt tình, thân thiện và giá cả rất cạnh tranh là những gì tôi cảm nhận được ở Đại Lý Bia Chín Cửu"</h3>
        <p>
          <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Nhận xét của Anh Trọng Đại, một trong những khách hàng thân thiết của cửa hàng chúng tôi
        </p>
      </div>
    </div>
  </div>
</div>
</div>
